* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.15s linear;
}

ul {
  list-style: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background-color: #f8f7e9;
}
/* section {
  padding: 30px 100px;
} */
/* navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: rgb(242, 225, 225);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

#menu-btn {
  display: none;
  color: pink;
  font-size: 30px;
  padding: 1rem 2rem;
}

.navbar h1 {
  color: rgb(110, 96, 66);
  font-family: "Cormorant Garamond", serif;
  font-size: 23px;
}

.navbar li a {
  background-color: rgb(246, 240, 205);
  padding: 10px;
  border-radius: 20px;
  font-weight: 100;
  text-decoration: none;
  transition: 0.3s ease;
  color: rgb(129, 111, 72);
  font-size: 13px;
  list-style: none;
}
.navbar li a:hover {
  background-color: rgb(245, 178, 126);
  color: white;
}
.main_about {
  background-color: #f8f7e9;
}
.about-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  gap: 2rem 0;
}
.about-row-item {
  width: 100%;
  height: 20rem;
  margin: 3px;
}

.about-item-container {
  width: 20%;
}

.about h2 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 300;
  padding: 12px 20px;
}
.about p {
  font-family: "Cinzel", serif;
  font-weight: 500;
  padding: 5px;
  font-size: 1rem;
}
.about h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 550;
  color: rgb(231, 44, 44);
}
.service-row {
  width: 50%;
  line-height: 2;
  margin: 100px auto;
}
.service-row-item {
  width: 20%;
  height: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}
.service-row-item1 {
  width: 20%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}
.service h2 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 500;
  margin: 60px;
}
.service p {
  font-family: "Cinzel", serif;
  font-weight: 550;
  padding: 5px;
  font-size: 1rem;
}
.service h3 {
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px;
}
.service-row-item {
  width: 200px;
  height: 200px;
}
.service-row-item1 {
  width: 200px;
  height: 200px;
}
/* footer0*/
.container {
  max-width: 100%;
  margin: auto;
  background-color: rgb(178, 150, 86);
}
footer {
  background-color: rgb(178, 150, 86);
  padding: 70px 0;
  z-index: 5;
  width: 100%;
}
.row {
  display: flex;

  margin-left: 250px;
}
.column-b,
.column-bi,
.column-i {
  width: 25%;
  padding: 0px 15px;
  text-align: center;
}
.column-b i,
.column-bi i,
.column-i i {
 font-size: 1.4rem;
 padding: 5px;
}
.column-i a img{
  width: 30px;
 }

.column-b h2,
.column-bi h2,
.column-i h2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
  line-height: 3;
  margin-bottom: 5px;
  margin-left: 50px;
  font-weight: bold;
  margin: 0;
}
.column-b a:hover {
  color: white;
}
.column-b a,
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  font-weight: 600;
  display: block;
  line-height: 1.5;
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  .navbar {
    padding: 0;
    position: relative;
  }
  .logo {
    width: 70%;
    padding: 1rem 2rem;
  }

  #menu-btn {
    display: inline;
    width: 20%;
  }
  .nav {
    display: block;
    background-color: pink;
    width: 100%;
    margin: 0;
    padding: 1.5rem 1rem;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: -100%;
  }

  .open-close {
    left: 0;
  }

  .navbar ul li {
    margin: 2rem 0;
  }

  .navbar ul li a:hover {
    background: none;
  }

  .navbar ul a {
    color: #000;
    background: none;
  }

  #menu-toggle {
    display: block;
  }

  footer .row {
    display: block;
    margin: 0;
    text-align: left;
  }

  .column-b,
  .column-bi,
  .column-i {
    width: 70%;
    padding: 0px 15px;
    text-align: left;
  }
  h2 {
    font-weight: 900;
  }

  .about-item-container {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .about-item-container {
    width: 40%;
  }
  .nav{
    width: 100%;
  }
}
